*{
    margin: 0;
    padding: 0;
}
.right .img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.Heading{
    padding-bottom: 14px;
}
.focus{
    color: orange;
}

.eyecon{
    position: relative;
    top: 43px;
    right: 30px;
    font-size: larger;
}

.Paragraph2{
    margin-top: 12px !important
}